# Detect Assembly in src/asm/
src/asm/*.asm linguist-language=Assembly linguist-detectable=true linguist-generated=false linguist-vendored=false

# Detect C in src/asm/
src/asm/*.c linguist-language=C linguist-detectable=true linguist-generated=false linguist-vendored=false
